.ilf__container {
    margin: 1.5rem auto;
    padding: 0 0.5rem;
    justify-content: center;
}

.ilf__form {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.ilf__form--input {
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color);
    border-radius: 1rem;
    background: none;
    color: var(--text-color);
    outline: none;
    padding: .25rem;
}

.ilf__form--button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-block;
    background-color: var(--text-color);
    color: var(--body-color);
    padding: .75rem 1rem;
    font-weight: var(--font-medium);
    transition: .4s;
    border-radius: 1rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (max-width: 320px) {

    .ilf__form {
        flex-direction: column;
        row-gap: .5rem;
    }

    .ilf__form--input {
        width: 90%;
    }

    .ilf__form--button {
        width: 90%;
    }

}


/* For medium devices */
@media screen and (min-width: 576px) {

    .ilf__form {
        max-width: 500px;
    }

}


/* For large devices */
@media screen and (min-width: 992px) {

}