.nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .75rem;
}

.nav__logo {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.75rem;
}

.nav__link {
    font-weight: var(--font-medium);
    align-items: center;
    cursor: pointer;
}

.nav__link:hover {
    color: var(--first-color-alt);
}