.footer__container {
    width: 100%;
    height: 50px;
    /* background-color: var(--first-color); */
    text-align: center;
    margin: 0 auto;
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    width: 25px
}

.footer__copy {
    font-size: var(--smaller-font-size);
}