.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.main__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.result__container {
  margin-bottom: 2.5rem;
  justify-content: center;
  align-content: ;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (max-width: 320px) {

  
}


/* For medium devices */
@media screen and (min-width: 576px) {

  .result__container {
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
    justify-content: center;
  }

}


/* For large devices */
@media screen and (min-width: 992px) {

  .result__container {
    max-width: 700px;
  }

}
