.colorpanel__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .25rem 1rem;
    padding: 1.5rem;
    /* box-shadow: 0 2px 4px hsla(0, 0%, 1%, .5); */
}

.colorpanel__list {
    padding: 0 1rem;
}

.colorpanel__item--box {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.colorpanel__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .5rem;
    margin-bottom: .5rem;
    font-size: var(--small-font-size);
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (max-width: 320px) {

  
}


/* For medium devices */
@media screen and (min-width: 576px) {

    .colorpanel__container {
        justify-content: flex-start;
    }

}


/* For large devices */
@media screen and (min-width: 992px) {


}